<form>


  <h4>Rangos de Funcionamiento (Set-Points)</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Variable</th>
        <!--<th>Actual</th>-->
        <!-- <th>Límites</th> -->
        <th>Valor minimo Set-point</th>
        <th>Valor maximo Set-point</th>
       <!-- <th>Estado</th> -->

      </tr>
    </thead>
    <tbody>
    <% if device.configuration_set && device.configuration_set_id > 0 %>
        <% configuration = device.configuration(device.configuration_set_id) %>
        <% if configuration && configuration.recipe %>
        <% variable_ranges = configuration.recipe.variable_range_recipe %>

            <% variable_ranges.each do |vr| %>
              <tr>
                <td><%= vr.variable.name %></td>
                <!--<td><%= vr.id %></td> -->
                <!-- <td><%= vr.id %></td> -->
                <td><%= vr.value_min %></td>
                <td><%= vr.value_max %></td>
              </tr>
            <% end %>
        <% end %>
                         
    <% end %>
     
    </tbody>
  </table>

    <h4>Alarmas</h4>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Variable</th>
        <!--<th>Actual</th>-->
        <!-- <th>Límites</th> -->
        <th>Valor minimo Alarma</th>
        <th>Valor maximo Alarma</th>
        <th>Estado</th> 

      </tr>
    </thead>
    <tbody>
    <% if device.configuration_set_id && device.configuration_set_id > 0 %>
        <% configuration = device.configuration(device.configuration_set_id) %>
        <% configuration.alarms.each do |a| %>

            <% variable_ranges = a.variable_range_alarm %>
            <% variable_ranges.each do |vr| %>
              <tr>
                <td><%= vr.variable.name %></td>
                <!--<td><%= vr.id %></td> -->
                <!-- <td><%= vr.id %></td> -->
                <td><%= vr.value_min %></td>
                <td><%= vr.value_max %></td>
                <td><% if a.active == true %>
                    <span class="btn btn-success btn-small">activo</span>
                     <% end %>
                    <span class="btn btn-inverse btn-small">inactivo</span>
                </td>
              </tr>
            <% end %>
          <% end %>

    <% end %>
     
    </tbody>
  </table>



</form>
