<h1>Dispositivos</h1>

<table class="table span8 striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Receta</th> 
      <th>Empresa</th> 
    </tr>
  </thead>
 
  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= device.name %></td> 
        <td><%= device.recipe.name %></td> 
        <td><%= device.enterprise.name%></td>
        <td><%= link_to 'Ver', device, class: "btn btn-info"%></td>
        <td><%= link_to 'Editar', edit_device_path(device), class: "btn btn-success" %></td>
        <td><%= link_to 'Eliminar', device , class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>  

  </tbody> 
</table>

